#root {
  max-width: 1280px;
  padding: 2rem;
}

.debug-pre {
  white-space: pre;
  outline: none;
  background-color: white;
  transition: all 0.5s;
}

.highlight {
  filter: invert(100%);
  transition: all 0.5s;
}

.card {
  padding: 2em;
}
